// Website colors
$primary: #101322;
$secondary: #131e2d;
$font-color: #fff;

// Hover accents
$fb-accent: #1877f2;
$github-accent: #6e5494;
$linkedin-accent: #0077b5;

// Border
$border-radius: 5px;

// Fonts
$font: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
  system-ui, sans-serif;
$fs-xs: 13px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fs-xxl: 22px;
$fs-heading: 32px;

// Headings fonts
$fs-h1: 60px;
$fs-h2: 30px;
$fs-h3: 28px;
$fs-h4: 25px;

// Headings weights
$fw-h1: 900;
$fw-h2: 700;
$fw-h3: 900;
$fw-h4: 400;

// p (for languages in other projects) 18px-16px regular/light
