// Website colors
$primary: #101322;
$secondary: #131e2d;
$font-color: #fff;

// Hover accents
$fb-accent: #1877f2;
$github-accent: #6e5494;
$linkedin-accent: #0077b5;

// Border
$border-radius: 5px;

// Fonts
$font: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
  system-ui, sans-serif;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-heading: 32px;

// h1 60px black

// h2 30px bold

// h3 28px black

// h4 25px medium/regular

// p 20px medium/regular

// p (for languages in other projects) 18px-16px regular/light
