@use './global' as global;
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: global.$font;
  scroll-behavior: smooth;

  @supports (scrollbar-width: thin) {
    scrollbar-width: thin;
    scrollbar-color: global.$font-color global.$primary;
  }

  &::-webkit-scrollbar {
    border-radius: 10px;
    width: 7px;
    background-color: rgba($color: global.$primary, $alpha: 0.8);
  }
  &::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: global.$font-color;
    border-radius: 10px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: global.$primary;
}

html,
body,
#root,
.app {
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  color: global.$font-color;
}

h1 {
  font-size: clamp(30px, 4vw, global.$fs-h1);
  font-weight: global.$fw-h1;
}
h2 {
  font-size: clamp(20px, 4vw, global.$fs-h2);
  font-weight: global.$fw-h2;
}
h3 {
  font-size: clamp(20px, 4vw, global.$fs-h3);
  font-weight: global.$fw-h3;
}
h4 {
  font-size: clamp(15px, 4vw, global.$fs-h4);
  font-weight: global.$fw-h4;
}

button,
textarea,
input {
  background-color: transparent;
  border: none;
  color: global.$font-color;
  font-family: global.$font;
}

button {
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.btn {
  &:hover {
    background-color: global.$font-color;
    color: global.$primary;
  }
}

a {
  text-decoration: none;
  color: global.$font-color;
}

section {
  max-width: 1383px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: global.$primary;
  z-index: 99;

  img {
    width: 100px;
    height: 100px;
  }
}

.fade {
  &-appear,
  &-enter,
  &-exit,
  &-enter-done {
    opacity: 1;
    transform: scale(1);
  }

  &-appear-active,
  &-enter-active,
  &-exit-active,
  &-exit-done {
    opacity: 0;
    transform: scale(0);
    transition: 1000ms;
    transition-timing-function: cubic-bezier(0.56, 0.07, 1, -0.02);
  }
}

// Loading spinner
.loading-spinner {
  display: flex;
  width: 100%;
  justify-content: center;

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--full-color);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
