@use "./global" as global;

main {
  height: 100%;
  padding: 0 100px;

  @media (max-width: 768px) {
    padding: 0 50px;
  }
  @media (max-width: 480px) {
    padding: 0 25px;
  }
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.1);

  h3 {
    font-size: 40px;
    font-weight: 400;
  }
  h1 {
    font-size: 70px;
    font-weight: 900;
  }
  h2 {
    font-size: 50px;
    font-weight: 400;
  }

  &__text {
    margin-bottom: 2.2em;
  }

  &__button {
    font-size: 35px;
    padding: 0.2em;
    width: 450px;
    border: 1px solid global.$font-color;
    border-radius: global.$border-radius;
  }
}

.header {
  position: relative;
  height: 100%;
  width: 100%;

  &::after {
    content: "";
    width: calc(100% - 410px);
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: global.$font-color;
  }

  &__number {
    color: global.$primary;
    font-size: 200px;
    text-shadow: -4px -4px 0 global.$font-color, 4px -4px 0 global.$font-color,
      -4px 4px 0 global.$font-color, 4px 4px 0 global.$font-color;
    opacity: 0.45;
  }

  &__title {
    position: absolute;
    width: 300;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

// 01. Projects
.projects {
  &__featured {
    margin: 3.2em 0 3.2em 0;
    display: grid;
    gap: 2.2em;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1080px) {
      grid-template-columns: 1fr;
    }
  }

  &__other {
    margin-top: 3.2em;
    gap: 2.2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .more {
    margin-top: 3.2em;
    margin-bottom: 3.2em;
    text-align: center;
    &__button {
      padding: 0.5em;
      width: 200px;
      border-radius: global.$border-radius;
      border: 1px solid global.$font-color;
      font-size: global.$fs-xxl;
    }
  }
}

// 02. About me
.about {
  &__desc {
    font-size: global.$fs-xxl;
  }
}
