@use "./global" as global;
@use "./anim" as anim;

main {
  height: 100%;
  padding: 0 100px;

  @media (max-width: 768px) {
    padding: 0 50px;
  }
  @media (max-width: 480px) {
    padding: 0 25px;
  }
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  h3 {
    font-size: 40px;
    font-weight: 400;
  }
  h1 {
    font-size: 70px;
    font-weight: 900;
  }
  h2 {
    font-size: 50px;
    font-weight: 400;
  }

  &__text {
    margin-bottom: 2.2em;
  }

  &__button {
    font-size: 35px;
    padding: 0.2em;
    width: 450px;
    border: 1px solid global.$font-color;
    border-radius: global.$border-radius;
  }
}

.header {
  position: relative;
  height: 100%;
  width: 100%;

  &::after {
    content: "";
    width: calc(100% - 410px);
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: global.$font-color;
  }

  &__number {
    color: global.$primary;
    font-size: 200px;
    text-shadow: -4px -4px 0 global.$font-color, 4px -4px 0 global.$font-color,
      -4px 4px 0 global.$font-color, 4px 4px 0 global.$font-color;
    opacity: 0.45;
  }

  &__title {
    position: absolute;
    width: 300;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

// 01. Projects
.projects {
  &__featured {
    margin: 3.2em 0 3.2em 0;
    display: grid;
    gap: 2.2em;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1080px) {
      grid-template-columns: 1fr;
    }
  }

  &__other {
    margin-top: 3.2em;
    gap: 2.2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .more {
    margin-top: 3.2em;
    margin-bottom: 3.2em;
    text-align: center;
    &__button {
      padding: 0.5em;
      width: 200px;
      border-radius: global.$border-radius;
      border: 1px solid global.$font-color;
      font-size: global.$fs-xxl;
    }
  }
}

// 02. About me
.about {
  &__desc {
    font-size: global.$fs-xxl;
  }
}

.timeline {
  width: 100%;
  margin-top: 1.5em;
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__separator {
    font-size: global.$fs-h2;
    color: global.$font-color;
    margin: 0 0.5em;
  }

  &__link {
    font-size: global.$fs-h2;
    color: global.$font-color;
    text-decoration: none;

    @include anim.underline;
  }

  &__wrapper {
    overflow-x: auto;
    &::-webkit-scrollbar {
      border-radius: 10px;
      background-color: rgba($color: global.$primary, $alpha: 0.8);
    }
    &::-webkit-scrollbar-button {
      height: 0;
      width: 0;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: global.$font-color;
      border-radius: 10px;
    }
  }

  &__body {
    display: flex;
  }
}

.step {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  min-width: 690px;

  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 2px;
    top: 25px;
    position: absolute;
    z-index: -1;
    background-color: global.$font-color;
  }

  &__icon {
    color: global.$font-color;
    margin-left: -9px;
    line-height: 0;
    font-size: 50px;
    background-color: global.$primary;
  }

  &__time {
    margin: 0.35em 0 0.5em 0;
    font-size: global.$fs-h2;
    color: global.$font-color;
  }

  &__desc {
    margin: 0.2em 0 0.2em 0;
    font-size: global.$fs-xxl;
  }

  h4 {
    font-weight: 400;
  }
}

.stack {
  margin-top: 6em;
  width: 100%;
  &__header {
    padding: 1em;
    color: global.$primary;
    border-radius: global.$border-radius;
    border: 2px solid global.$font-color;
    text-shadow: -2px -2px 0 global.$font-color, 2px -2px 0 global.$font-color,
      -2px 2px 0 global.$font-color, 2px 2px 0 global.$font-color;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 50px;
    }
    @media (max-width: 1500px) {
      span:nth-child(2) {
        display: none;
      }
    }
  }

  &__list {
    margin-top: 3.5em;
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: global.$border-radius;
    transition: ease-in-out 0.2s;
    img {
      width: 70px;
      height: 70px;
      color: global.$font-color;
    }
    span {
      color: global.$font-color;
    }
  }
}

.contact {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 756px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 90%;
    p {
      font-size: global.$fs-xxl;
    }
  }

  &__email {
    display: flex;
    align-items: center;
    margin-top: 3em;

    svg {
      font-size: 50px;
      color: global.$font-color;
      margin-right: 1em;
    }
  }

  &__social {
    margin-top: 6.5em;
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  &__item {
    color: global.$font-color;
    padding: 0.2em;
    font-size: 50px;
    display: inline-flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    $root: &;

    &:hover {
      color: global.$primary;
    }

    &--facebook:hover {
      background-color: global.$fb-accent;
    }
    &--github:hover {
      background-color: global.$github-accent;
    }
    &--linkedin:hover {
      background-color: global.$linkedin-accent;
    }
  }

  &__right {
    width: 90%;
    label {
      color: global.$font-color;
      font-size: global.$fs-xxl;
    }
    input,
    textarea {
      margin-bottom: 1em;
      border: 1px solid global.$font-color;
      border-radius: global.$border-radius;
      width: calc(100% - 0.6em - 2px);
      padding: 0.3em;
      font-size: global.$fs-xxl;
      color: global.$font-color;
    }
    textarea {
      resize: vertical;
      height: 260px;
    }
    button {
      cursor: pointer;
      font-size: global.$fs-xxl;
      padding: 0.6em;
      width: 200px;
      border: 1px solid global.$font-color;
      border-radius: global.$border-radius;
    }
  }
}

footer {
  padding: 2.5em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: global.$fs-lg;
}
