@use "_global" as global;
@use "_anim" as anim;

.showcase {
  b,
  u,
  i {
    color: var(--color);
  }

  p {
    text-align: justify;
  }

  ul {
    color: global.$font-color;
    width: 100%;
    list-style-type: " - ";
    margin-top: 1em;
    li {
      margin-left: 12px;
      margin-bottom: 1em;
      a {
        @include anim.underline;
        /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
        -ms-word-break: break-all;
        word-break: break-all;
        /* Non standard for webkit */
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
      }
    }
  }

  section {
    width: 100%;
    &:first-child {
      padding-top: 100px;
      @media (max-width: 480px) {
        padding-top: 20px;
      }
    }
    &:not(:first-child) {
      padding-top: 3em;
    }
  }

  &__banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1em;
    border-radius: global.$border-radius;
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
  }
  &__link {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    padding: 0.5em;
    font-size: clamp(14px, 4vw, 16px);
    border: 1px solid global.$font-color;
    border-radius: global.$border-radius;
    margin-left: 1em;

    &--disabled {
      opacity: 0.35;
      pointer-events: none;
    }

    &:hover,
    &:focus-within {
      background-color: global.$font-color;
      color: global.$primary;
    }
  }
  &__note {
    background-color: global.$secondary;
    width: auto;
    padding: 1.5em;
    width: calc(100% - 3em);
    margin-bottom: 2em;
    border-radius: global.$border-radius;
    border: 1px solid #fff;

    span {
      color: global.$font-color;
      &:first-child {
        color: var(--color);
      }
    }
  }
  &__title {
    padding: 0.16em;
    background-color: var(--color);
  }
  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__info {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 756px) {
      grid-template-columns: 1fr;
    }
    justify-items: center;
    margin-top: 3em;
  }
  &__group {
    margin-top: 2em;
    text-align: center;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 1em;
    justify-content: center;
    color: global.$font-color;
  }
  &__color {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: global.$border-radius;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    align-items: flex-end;
  }
  &__team {
    width: 100%;
  }
  &__img {
    width: 70%;
    height: auto;
    border-radius: global.$border-radius;
    border: 1.5px solid global.$font-color;
    margin: 1em auto;
    @media (max-width: 756px) {
      width: calc(100% - 3px);
    }
  }
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 2em;
    span {
      opacity: 0.6;
      @include anim.underline;
    }
  }
}

.team-item {
  background-color: global.$secondary;
  border-radius: global.$border-radius;
  display: flex;
  align-items: center;
  padding: 1em 1.5em;
  margin: 1em 0;
  transition: ease-in-out 0.2s;

  &--me {
    position: relative;
    &::after {
      content: "ME";
      position: absolute;
      top: 0.3em;
      left: 0.3em;
      color: global.$font-color;
      opacity: 0.6;
      font-size: 14px;
    }
  }

  &:hover {
    transform: scale(1.05);
  }

  &__avatar {
    max-width: 83px;
    height: 83px;
    border-radius: 50%;
    margin-right: 2em;
    @media (max-width: 756px) {
      max-width: 60px;
      height: 60px;
    }
  }

  table {
    width: 100%;
    color: global.$font-color;
    th {
      text-align: left;
      margin-right: 3em;
      font-size: clamp(10px, 3vw, global.$fs-sm);
      opacity: 0.6;
      font-weight: 400;
      min-width: 200px;
      @media (max-width: 756px) {
        min-width: 120px;
      }
    }
    td {
      font-size: clamp(20px, 3vw, global.$fs-h2);
    }
  }

  &__wrapper {
    width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
      border-radius: 10px;
      height: 7px;
      background-color: rgba($color: global.$primary, $alpha: 0.8);
    }
    &::-webkit-scrollbar-button {
      height: 0;
      width: 0;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: global.$font-color;
      border-radius: 10px;
    }
  }
}

.component-item {
  width: 100%;

  h4 {
    font-size: 1.2rem;
  }

  .prop-table {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
  }

  button {
    width: 100%;
    background-color: #131e2d;
    text-align: left;
    padding: 0.5em;
    transition: 0.2s ease-in-out;
  }
  table {
    width: 100%;
    color: global.$font-color;
    overflow-x: auto;
    border-collapse: collapse;
    background-color: #131e2d67;
    border: 3px solid #131e2d;
  }
  td,
  th {
    text-align: left;
    padding: 0.7em 0.5em;
  }
  thead {
    tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
  tbody {
    tr:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}

.component-list {
  .component-item {
    &:first-of-type {
      button {
        border-radius: global.$border-radius global.$border-radius 0 0;
      }
    }
    &:last-child {
      button {
        border-radius: 0 0 global.$border-radius global.$border-radius;
      }
    }
    &.open {
      &:last-child {
        button {
          border-radius: 0;
        }
      }
    }
  }
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  // position: relative;
  width: 70%;

  // &--fullscreen {
  //   height: 100vh;
  // }

  // button {
  //   display: flex;
  // }

  // svg {
  //   width: 18px;
  //   height: 18px;
  // }

  // border: 1.5px solid global.$font-color;
  // border-radius: 5px;

  // @media (max-width: 756px) {
  //   width: calc(100% - 3px);
  // }

  // &:hover,
  // &:focus-within,
  // &--paused {
  //   .video__navigation {
  //     opacity: 1;
  //   }
  // }

  // &__player {
  //   width: 100%;
  //   height: auto;
  // }

  // &__navigation {
  //   position: absolute;
  //   width: 100%;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 99;
  //   opacity: 0;
  //   transition: opacity 0.2s ease-in-out;
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     z-index: -1;
  //     background: linear-gradient(to top, rgba(16, 19, 34, 0.88), transparent);
  //     border-radius: 0 0 5px 5px;
  //     width: 100%;
  //     aspect-ratio: 7/1;
  //     bottom: 0;
  //     left: 0;
  //     pointer-events: none;
  //   }
  // }

  // &__controls {
  //   display: flex;
  //   align-items: center;
  //   padding: 0.5em;
  //   justify-content: space-between;
  //   color: global.$font-color;
  //   &--right,
  //   &--left {
  //     display: flex;
  //     align-items: center;
  //     gap: 0.5em;
  //   }
  // }

  // &__volume {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   &:hover,
  //   &:focus-within {
  //     input {
  //       width: 100px;
  //       visibility: visible;
  //       transform: scaleX(1);
  //     }
  //   }
  // }

  // &__slider {
  //   transition: width 0.2s ease-in-out, transform 0.1s ease-in-out;
  //   width: 0;
  //   transform: scaleX(0);
  //   transform-origin: left;
  //   visibility: hidden;
  //   accent-color: var(--full-color);
  // }

  // &__duration {
  //   font-size: 14px;
  // }

  // &__timeline-container {
  //   height: 6px;
  //   padding: 0 0.5em;
  //   cursor: pointer;
  //   display: flex;
  //   align-items: center;
  //   position: relative;

  //   &:hover,
  //   &:focus-within {
  //     .video__timeline {
  //       height: 100%;
  //     }
  //     .video__thumb {
  //       transform: scale(1);
  //     }
  //   }

  // &--dragging {
  //   .video__timeline {
  //     height: 100%;
  //   }
  //   .video__thumb {
  //     transform: scale(1);
  //   }
  // }
  // }

  // &__timeline {
  //   height: 3px;
  //   width: 100%;
  //   background-color: gray;
  //   position: relative;
  //   border-radius: 5px;
  //   transition: height 0.1s ease-in-out;
  //   &::after {
  //     content: "";
  //     border-radius: 5px;
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     top: 0;
  //     right: calc(100% - var(--progress-position) * 100%);
  //     background-color: var(--full-color);
  //   }
  // }

  // &__thumb {
  //   position: absolute;
  //   height: 200%;
  //   left: calc(var(--progress-position) * (100% - 12px - 0.5em));
  //   transform: translateX(-50%) scale(0);
  //   top: -50%;
  //   border-radius: 50%;
  //   background-color: var(--full-color);
  //   transition: transform 0.1s ease-in-out;
  //   aspect-ratio: 1/1;
  // }
}
