@use "_global" as global;

.showcase {
  section {
    &:first-child {
      padding-top: 140px;
    }
    &:not(:first-child) {
      padding-top: 3em;
    }
  }
  &__title {
    padding: 0.15em;
    background-color: #5483d8;
  }
  &__info {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 756px) {
      grid-template-columns: 1fr;
    }
    justify-items: center;
    margin-top: 3em;
  }
  &__group {
    margin-top: 2em;
    text-align: center;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 1em;
    justify-content: center;
    color: global.$font-color;
  }
  &__color {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: global.$border-radius;
    background-color: #5483d8;
    display: flex;
    text-align: center;
    align-items: flex-end;
  }
  &__team {
    width: 100%;
  }
}

.team-item {
  background-color: global.$secondary;
  border-radius: global.$border-radius;
  display: flex;
  align-items: center;
  padding: 1em 1.5em;
  margin: 1em 0;
  transition: ease-in-out 0.2s;

  &--me {
    border: 1px solid #5483d8;
  }

  &:hover {
    transform: scale(1.05);
  }

  &__avatar {
    max-width: 83px;
    height: 83px;
    border-radius: 50%;
    margin-right: 2em;
    @media (max-width: 756px) {
      max-width: 60px;
      height: 60px;
    }
  }

  table {
    width: 100%;
    color: global.$font-color;
    th {
      text-align: left;
      margin-right: 3em;
      font-size: clamp(10px, 3vw, global.$fs-sm);
      opacity: 0.6;
      font-weight: 400;
      min-width: 200px;
      @media (max-width: 756px) {
        min-width: 120px;
      }
    }
    td {
      font-size: clamp(20px, 3vw, global.$fs-h2);
    }
  }

  &__wrapper {
    width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
      border-radius: 10px;
      height: 7px;
      background-color: rgba($color: global.$primary, $alpha: 0.8);
    }
    &::-webkit-scrollbar-button {
      height: 0;
      width: 0;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: global.$font-color;
      border-radius: 10px;
    }
  }
}
