@use "./global" as global;

// Featured project styles
.fproject {
  position: relative;
  cursor: pointer;
  opacity: 1;
  border-radius: global.$border-radius;
  transition: ease-in-out 0.2s;

  &:hover,
  &:focus-within {
    transform: scale(1.02);
  }

  &__photo {
    border-radius: global.$border-radius;
    width: 100%;
    height: auto;
  }

  figcaption {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  &__info {
    opacity: 0.7;
    display: flex;
    span {
      display: flex;
      align-items: center;
      gap: 0.2em;
      &:first-child {
        margin-right: 0.5em;
      }
      font-size: 20px;
    }
  }

  &__desc {
    margin-bottom: 0.5em;
  }

  &__stack {
    opacity: 0.6;
  }
}

// Other project styles
.project {
  padding: 2em;
  border-radius: global.$border-radius;
  background-color: global.$secondary;

  &__links {
    display: flex;
    justify-content: flex-end;
    gap: 1em;

    &__link {
      color: global.$font-color;
      font-size: global.$fs-xxl;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__desc {
    margin: 1em 0 1em 0;
  }
  &__stack {
    color: global.$font-color;
    opacity: 0.6;
  }
}
