@use "./global" as global;

.featured-project {
  position: relative;
  opacity: 1;
  border-radius: global.$border-radius;

  .project-info {
    border-radius: 4px;
    padding: 3em;
    width: calc(100% - 6em);
    height: calc(100% - 6em - 4px);
    background-color: rgba($color: #000000, $alpha: 0.9);
    position: absolute;
    display: none;

    h1 {
      text-align: center;
    }

    .tech-stack {
      margin: 2.5em 0 7em 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2em;
      // .tech-icon {
      //   color: global.$font-color;
      // }
    }

    .project-links {
      display: flex;
      justify-content: space-evenly;

      a {
        text-decoration: none;
        color: global.$font-color;
        font-size: global.$fs-xxl;
      }
    }
  }

  &:hover {
    .project-info {
      display: block;
    }
  }

  .cover-photo {
    border-radius: global.$border-radius;
    width: 100%;
    height: auto;
  }
}

.other-project {
  padding: 2em;
  border-radius: global.$border-radius;
  background-color: global.$secondary;
  div {
    display: flex;
    justify-content: flex-end;
  }
  a {
    color: global.$font-color;
  }
  p {
    margin: 1em 0 1em 0;
  }
  span {
    color: global.$font-color;
    opacity: 0.6;
  }
}
